@{
    ViewData["Title"] = "Home Page";
}

<main class="parte-juego" >
<section class="pregunta-respuesta">


<h1 class="titulo-pregunta titulo-respuesta">@ViewBag.Pregunta.Enunciado</h1>
<div class="respuestas respuestas-correcta">
 
@{
    for(int i=0;i<4;i++){
        if(@ViewBag.Respuestas[ViewBag.Orden[i]].Opcion-1==ViewBag.Opcion&&ViewBag.IsCorrect==true||@ViewBag.Respuestas[ViewBag.Orden[i]].Correcta==true){
            <a class="correcto">@ViewBag.Respuestas[ViewBag.Orden[i]].Contenido</a>
        } else if (@ViewBag.Respuestas[ViewBag.Orden[i]].Opcion-1==ViewBag.Opcion&&ViewBag.IsCorrect==false){
            <a class="incorrecto">@ViewBag.Respuestas[ViewBag.Orden[i]].Contenido</a>
        } else{
            <a>@ViewBag.Respuestas[ViewBag.Orden[i]].Contenido</a>
        }
    }
}


</div>
<div>
    <a id="boton-continuar" class="login-boton boton-siguiente" href="/Home/Ruleta">Continuar (5)</a>
</div>



<section>

</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let boton = document.getElementById('boton-continuar');
        let tiempo = 5; 
        let tiempoRestante = 5;
        
        let countdown = setInterval(function() {
            tiempoRestante--;
            boton.innerText = "Continuar ("+tiempoRestante+")";
    
            if (tiempoRestante <= 0) {
                clearInterval(countdown);
                 window.location.href='/Home/Ruleta';
                
            }
        }, 1000);
      });
</script>
