@{
    ViewData["Title"] = "Ruleta";
}

<section class="pag-ruleta">
    <div class="arriba-ruleta">
        <div class="desc-pers">
        <!--Jugador 1-->
            <div class="foto-nombre">
                <img class="foto-perfil" src="/FotosPerfil/fotoDefault.png">
                <h3>@ViewBag.jugador1.Nombre</h3>
            </div>
            <div class="personajes">
            <img src="/personajesCategorias/arte.png" class="personaje-no-conseguido" id="arte">
            <img src="/personajesCategorias/ciencia.png" class="personaje-no-conseguido" id="ciencia">
            <img src="/personajesCategorias/deportes.png" class="personaje-no-conseguido" id="deportes">
            <img src="/personajesCategorias/entretenimiento.png" class="personaje-no-conseguido" id="entretenimiento">
            <img src="/personajesCategorias/geografia.png" class="personaje-no-conseguido" id="geografia">
            <img src="/personajesCategorias/historia.png" class="personaje-no-conseguido" id="historia">
            </div>
        </div>
        <div class="vs">
            <p>Vs</p>
        </div>
        <div class="desc-pers">
            <!--Jugador 2-->
            <div class="foto-nombre reversa">
                <img class="foto-perfil" src="/FotosPerfil/fotoDefault.png">
                <h3>@ViewBag.jugador2.Nombre</h3>
            </div>
            <div class="personajes reversa">
            <img src="/personajesCategorias/arte.png" class="personaje-no-conseguido" id="arte2">
            <img src="/personajesCategorias/ciencia.png" class="personaje-no-conseguido" id="ciencia2">
            <img src="/personajesCategorias/deportes.png" class="personaje-no-conseguido" id="deportes2">
            <img src="/personajesCategorias/entretenimiento.png" class="personaje-no-conseguido" id="entretenimiento2">
            <img src="/personajesCategorias/geografia.png" class="personaje-no-conseguido" id="geografia2">
            <img src="/personajesCategorias/historia.png" class="personaje-no-conseguido" id="historia2">
            </div>
        </div>
    </div>
    <div class="wheel-container">
        <img src="/img/ruleta bien.png" alt="Ruleta" id="wheel" class="wheel">
        <img id="spin" class="ruleta-centro" src="/img/ruleta centro.png" onclick=handleClick(@Convert.ToInt32(ViewBag.girarNehuen))>
    </div>
    <!--- reveer lo de corona --->
    <div class="cantidad-para-corona">
        @{
            for (int i=1;i<=3;i++){
                if(ViewBag.CantParaCorona>=i){
                    <div class="cantidad-corona dorado"></div>
                } else {
                    <div class="cantidad-corona gris"></div>
                }
            }
        }
    </div>
</section>
<script src="/js/ruleta.js"></script>

<script>


// JavaScript

function handleClick() {
    $.ajax({
                    url: '@Url.Action("ObtenerNombreJugador", "Home")',
                    type: 'GET',
                    data: {},
                    success: function(data){
                        const button = document.getElementById('spin');
    const wheel = document.getElementById('wheel');
    const head = documet.getElementById('head');
    if (data.giro == 1)
    {
        wheel = document.getElementById('spin');
    }
    const rotation = Math.floor(Math.random() * 3600) + 360; // Gira entre 360 y 3960 grados

    if (@ViewBag.GirarNehuen) {
       head.style.transform = `rotate(${rotation}deg)`;
    } else {
       wheel.style.transform = `rotate(${rotation}deg)`; 
    }

    // Calcular el ángulo final (en un rango de 0 a 360 grados)
    const finalAngle = rotation % 360;

    // Definir los rangos de ángulos para cada sección
    const sections = [
        { name: "/Home/Pregunta?idCategoria=3", startAngle: 37, endAngle: 89 }, //ciencia
        { name: "/Home/Pregunta?idCategoria=6", startAngle: 89, endAngle: 141 }, //geografia
        { name: "/Home/CoronaOpcion", startAngle: 141, endAngle: 193 }, //coronita
        { name: "/Home/Pregunta?idCategoria=5", startAngle: 193, endAngle: 245 }, //entretenimiento
        { name: "/Home/Pregunta?idCategoria=2", startAngle: 245, endAngle: 295}, //artes
        { name: "/Home/Pregunta?idCategoria=4", startAngle: 295, endAngle: 347 }, //deportes
        { name: "/Home/Pregunta?idCategoria=1", startAngle: 347, endAngle: 360 }, //historia
        { name: "/Home/Pregunta?idCategoria=1", startAngle: 0, endAngle: 37 } //historia
    ];

    // Encontrar la sección correspondiente al ángulo final
    const selectedSection = sections.find(section => 
        finalAngle >= section.startAngle && finalAngle < section.endAngle
    );

    // Redirigir a la página correspondiente
    setTimeout(() => {
        if (selectedSection) {
            window.location.href = selectedSection.name;
        }
    }, 4000); // 4000ms para coincidir con la duración de la animación

    // Remover el event listener para evitar clics adicionales
    button.removeEventListener('click', handleClick);
},
                    error: function () {
                        alert('Error al actualizar los jugadores');
                    }
                });
}



document.addEventListener('DOMContentLoaded', function(){
    let RecargarPersonajes = setInterval(ObtenerPersonajes, 3000);
    let RecargarGanado = setInterval(ChequearGanar, 5000);
});

function ObtenerPersonajes(){
    console.log("aa");
    $.ajax({
        url: '@Url.Action("ObtenerPersonajesConseguidos", "Home")',
        data: {},
        type: 'GET',
        success: function(response){
            console.log(response);
            let categorias = ["arte","ciencia","deportes","entretenimiento","geografia","historia"];
            for(let i=0;i<6;i++){
                if (response.usuario1[i]=="1"){
                    let fotoCat = $("#"+categorias[i]);
                    fotoCat.removeClass('personaje-no-conseguido');
                    fotoCat.addClass('personaje-conseguido');
                }
            }
            for(let i=0;i<6;i++){
                if (response.usuario2[i]=="1"){
                    let fotoCat = $("#"+categorias[i]+"2");
                    fotoCat.removeClass('personaje-no-conseguido');
                    fotoCat.addClass('personaje-conseguido');
                }
            }
        },
        error: function(){

        }
    });
}


function ChequearGanar(){
    $.ajax({
        url: '@Url.Action("seGano", "Home")',
        data: {},
        type: 'GET',
        success: function(response){
            console.log(response);
                if(response.ganada==1){
                    window.location.href='/Home/Ganar?ganado='+response.ganada;
                }
        },
        error: function(){
            alert("ERROR");
        }
    });
}
</script>